@font-face {
  font-family: "escore1";
  src: url(font/SCDream1.otf) format("truetype");
}
@font-face {
  font-family: "escore2";
  src: url(font/SCDream2.otf) format("truetype");
}
@font-face {
  font-family: "escore3";
  src: url(font/SCDream3.otf) format("truetype");
}
@font-face {
  font-family: "escore4";
  src: url(font/SCDream4.otf) format("truetype");
}
@font-face {
  font-family: "escore5";
  src: url(font/SCDream5.otf) format("truetype");
}
@font-face {
  font-family: "escore6";
  src: url(font/SCDream6.otf) format("truetype");
}
@font-face {
  font-family: "escore7";
  src: url(font/SCDream7.otf) format("truetype");
}
@font-face {
  font-family: "escore8";
  src: url(font/SCDream8.otf) format("truetype");
}
@font-face {
  font-family: "escore9";
  src: url(font/SCDream9.otf) format("truetype");
}
.full_container {
}
.page_view {
  font-family: "escore9";
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100px;
  height: 30px;
  background: yellow;
  top: 0;
  right: 0;
  z-index: 10;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100w;
  height: 100vh;
  background: url(main.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  position: relative;
}
.button_container {
  color: white;
  position: absolute;
  display: flex;
  bottom: 5%;
}
.button {
  font-family: "escore6";
  background: rgba(0,0,0,0.5);
  border: 2px solid white;
  padding: 4px;
  margin: 2px;
  cursor: pointer;
}
.main_title {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  color: white;
  font-family: "escore9";
  font-size: 40px;
  margin-top: 10%;
}
.main_subtitle {
  color: white;
  font-family: "escore6";
  font-size: 15px;
}
.search_container {
  display: flex;
  align-items: center;
  justify-content: stretch;
  width: 80vw;
  height: 40px;
  border-radius: 20px;
  margin-top: 5%;
  background: rgba(255, 255, 255, 0.5);
}
#search_icon {
  padding-left: 40px;
  width: 20px;
  height: 20px;
}
.search_form {
  padding-left: 40px;
  width: 100%;
}
.search_input {
  width: 100%;
  background: none;
  border: none;
  font-family: "escore9";
}
.search_input:focus {
  outline: none;
}
.grid-item {
  width: 25%;
  border: 3px solid rgb(255, 255, 255);
  box-sizing: border-box;
}
.image_info{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  color: white;
}
.main_site_link {
  color: white;
  text-decoration: underline;
  background: rgba(0,0,0,0.6);
  padding-left: 5px;
  padding-right: 5px;
}